<h2>Hello World</h2>
<p>
  The time is now: <%= Time.now %>
</p>

<a href="users/sign_in">Login!</a>
<br><br>
<a href="users/sign_up">Registartion!</a>
<br><br>
<%= link_to "Logout!", destroy_user_session_path, method: :delete %>
<br><br>
<br><br>

<a href="admins/sign_in">Admin login</a>
<br><br>
<%= link_to "Admin logout", destroy_admin_session_path, method: :delete %>
<br><br>
<br><br>

<a href="products">Check products!</a>
<br><br>